
{% load static %}

<head>
    <title>App repositórios do github</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="{% static 'index/css/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <h1 class="display-5 cabecalho">Exiba os repositórios de um usuário do Github</h1>  
    <div class="container-form-usuario">
        <form class='form-group' action="" method="post">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">https://github.com/users/</span>
                </div>
                <input name='input-usuario-github' type="text" placeholder="Insira o usuário do github aqui" class="form-control" id="input-usuario-github" aria-describedby="basic-addon3">
                <input type="submit" value="consultar"></input>
            </div>
        </form>
    </div>
    
    {% if usuario %}
        <ul class="dados-usuario">
        <li class="usuario-id">{{usuario.id}}</li>
        <li class="usuario-nome">{{usuario.nome}}</li>
        <li class="usuario-login">{{usuario.login}}</li>
        <li><img src='{{usuario.avatar_url}}' class="usuario-avatar_url"></img></li>
        <li class="usuario-html-url"><a href="{{usuario.html_url}}"></a></li>
        </ul>
        {% for repo in repo_alfabetico %}
            
            <li class="repo-id alfabetico">ID do repositório: {{ repo.id }}</li>
            <li class="repo-nome alfabetico">Nome repositório: {{ repo.nome }}</li>
            <li class="repo-html-url alfabetico">Link do repositório: <a href="{{ repo.html_url }}"></a></li>
            <li class="repo-descricao alfabetico">Descrição: {{ repo.descricao }}</li>
            <li class="repo-data_ultimo_commit_str alfabetico">Data último commit: {{ repo.data_ultimo_commit_str }}</li>
            {% if repo.arquivado %}
                <li class="repo-arquivado alfabetico">Arquivado: Sim</li>
            {% else %}
                <li class="repo-arquivado alfabetico">Arquivado: Não</li>
            {% endif %}

        {% endfor %}

        {% for repo in repo_ultimo_commit %}
            
        <li class="repo-id ultimo-commit">ID do repositório{{ repo.id }}</li>
        <li class="repo-nome ultimo-commit">Nome repositório: {{ repo.nome }}</li>
        <li class="repo-html-url ultimo-commit">Link do repositório: <a href="{{ repo.html_url }}"></a></li>
        <li class="repo-descricao ultimo-commit">Descrição: {{ repo.descricao }}</li>
        <li class="repo-data-ultimo_commit_str ultimo-commit">Data último commit: {{ repo.data_ultimo_commit_str }}</li>
        {% if repo.arquivado %}
            <li class="repo-arquivado ultimo-commit">Arquivado: Sim</li>
        {% else %}
            <li class="repo-arquivado ultimo-commit">Arquivado: Não</li>
        {% endif %}

    {% endfor %}

    {% endif %}

    {% if messages %}
    <div class="mensagem-erro-lista"></div>
    
        {% for message in messages %}
            <li class="mensagem-erro">{{ message }}</li>
        {% endfor %}
    {% endif %}
</div>
</body>
</html